# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Large files / local data
*.pth
*.pt
*.ckpt
datasets/
data/

# Outputs
*.log
combined_gradcam_output.jpg
